<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<li class="active">
			<a href="">
				<i class="icon-home"></i>
				<span class="menu-text"> 商城管理 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 品牌管理 </span>
			</a>
		</li>


		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 店内活动 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 大牌钜惠 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 焕新搭配 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 限时购 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 明星单品 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 优惠券 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-gift"></i>
				<span class="menu-text"> 商品分类 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-gift"></i>
				<span class="menu-text"> 商品管理 </span>
			</a>
		</li>
	</ul><!-- /.nav-list -->

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>